@font-face {
  font-family: "Lato";
  src: url("./Fonts/Lato-Regular.ttf") format("Lato");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.bluehead {
  position: absolute;
  right: 0;
  height: 95px;
  width: 40%;
  background-color: #00bdd4;
}

.headertext {
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  font-size: 35px;
  line-height: 42px;
  margin-top: 24px;
  left: 65px;
}

.yellowhead {
  position: relative;
  height: 95px;
  width: 100%;
  background-color: #daed49;
}

.bluetriangle {
  position: absolute;
  right: 40%;
  width: 0;
  height: 0;
  border-top: 95px solid #00bdd4;
  border-left: 95px solid transparent;
}

.emptyspacebellowbar {
  height: 120px;
  width: 100%;
}

.backbutton {
  padding: 0px;
  width: 181px;
  height: 50px;
  flex-shrink: 0;
  font-size: 30px;
  line-height: 36px;
  border-radius: 10px;
  background-color: #00bdd4;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
}

.container {
  display: flex;
}

.containerlogo {
  flex: 1;
}

.logoandtitlecontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.leftsidewrapper {
  padding: 0px;
  margin: 0px auto;
}

.containerepisodes {
  flex: 1;
}

.containercharacterinfo {
  display: flex;
}

.characterdetailsinfowrapper {
  flex: 1;
}

#sectionlogo h1 {
  flex: 1;
  padding: 100px auto;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

#sectionlogo h1 b {
  font-weight: 600;
  font-size: 70px;
  line-height: 84px;
}

.blue {
  color: #00bdd4;
  text-transform: capitalize;
}

.logo {
  flex: 1;
  width: 647px;
  height: 664px;
  margin: 70px auto;
}

.charactername {
  color: #00bdd4;
  text-transform: capitalize;
  height: 84px;
  font-size: 70px;
  margin-bottom: 20px;
}

.characterimage {
  flex: 1;
  width: 650px;
  height: 650px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 100px;
  flex-shrink: 0;
}

.mainsection {
  margin-bottom: 70px;
}

.characterdescription {
  flex: 10;
  margin-left: 50px;
  padding: 20px;
}

.episodescontainer {
  display: flex;
  flex-direction: column;
}

.episodemainontainer {
  display: flex;
  margin-top: 25px;
}

.episodenumber {
  align-self: flex-start;
  flex: 1;
  margin: 0;
}

.verticallinecontainer {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.episodedescription {
  flex: 5;
}

.verticalline {
  width: 1px;
  background-color: #959595;
  height: 100%;
  margin: -15px;
  padding: 50px 0px;
}

.horizontalline {
  display: none;
}

.episodeid {
  flex: 1;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-left: 50px;
}

.titlecolorblue {
  display: inline-block;
  color: #00bdd4;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.titlecolor {
  display: inline-block;
  color: #bdd800;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.emisiondate {
  color: #959595;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  text-transform: capitalize;
  margin: 5px 0px;
}

.characterinfowrapper {
  margin-top: 25px;
  margin-left: 50px;
}

.footer {
  background-color: #464646;
  text-align: center;
  line-height: 10vh;
  color: #cccccc;
  height: 10vh;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .yellowhead {
    height: 71px;
    width: 100%;
  }
  .headertext {
    font-size: 30px;
    line-height: 36px;
  }
  .bluehead,
  .bluetriangle {
    display: none;
  }
  .emptyspacebellowbar {
    height: 80px;
  }

  .container {
    flex-direction: column;
  }

  .leftsidewrapper {
    margin-bottom: 112px;
  }

  .containerlogo {
    margin: 0px 29px 50px 29px;
  }

  .episodemainontainer {
    flex-direction: column;
    margin: 0 0 20px 25px;
  }

  .containercharacterinfo {
    flex-direction: column;
    margin: 0px 28px 65px 28px;
  }

  .characterdescription {
    margin: 0px;
    padding: 0px;
  }

  .verticallinecontainer {
    flex: 1;
    align-items: center;
    display: flex;
    order: 2;
    /* flex-direction: column; */
  }

  .backbutton {
    padding: 0px;
    width: 132px;
    height: 38px;
    flex-shrink: 0;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    background-color: #00bdd4;
    text-align: center;
    margin: 30 0 0 25px;
  }

  .logo {
    flex: 1;
    width: 320px;
    height: 306px;
    margin-bottom: 30px auto;
  }
  #sectionlogo h1 {
    /* margin: 0 0 0 26px; */
    /* padding: 0 0 3 0px; */
    font-weight: 400;
    font-size: 38px;
    line-height: 45.6px;
    text-align: center;
  }

  #sectionlogo h1 b {
    font-weight: 600;
    font-size: 38px;
    line-height: 45.6px;
  }

  .charactername {
    color: #00bdd4;
    align-self: center;
    text-transform: capitalize;
    height: 46px;
    font-size: 38px;
    margin: 0 0 44px 0;
  }

  .characterinfowrapper {
    margin-left: 28px;
  }

  .characterimage {
    flex: 1;
    width: 320px;
    height: 306px;
    margin: 44px auto 0px auto;
    flex-shrink: 0;
  }
  .episodeid {
    flex: 1;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 0px;
  }

  .titlecolorblue {
    display: inline-block;
    color: #00bdd4;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 13px;
    margin-bottom: 14px;
  }

  .titlecolor {
    display: inline-block;
    color: #bdd800;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 13px;
    margin-bottom: 14px;
  }

  .emisiondate {
    color: #959595;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;
    /* margin: 5px 0px; */
    margin-bottom: 21.5px;
  }

  .horizontalline {
    height: 1px;
    background-color: #d1d1d1;
    width: 100%;
    padding: 0 0px;
    margin: 0px;
    display: block;
  }

  .verticalline {
    height: 1px;
    background-color: #d1d1d1;
    width: 90%;
    padding: 0 0px;
    margin: 0px;
  }
  .episodemainontainer:last-of-type {
    margin-bottom: 70px;
  }
  .episodemainontainer:last-of-type .horizontalline {
    display: none;
  }
  .episodemainontainer:last-of-type .verticallinecontainer {
    display: none;
  }

  .footer {
    background-color: #464646;
    height: 48.723px;
    width: 100%;
    align-items: center;
    font-size: 14px;
    line-height: 48.723px;
    color: #cccccc;
    text-transform: uppercase;
    flex-shrink: 0;
  }
  .footer p {
    font-size: 14px;
  }
}
