@font-face {
  font-family: "Lato";
  src: url("./Fonts/Lato-Regular.ttf") format("Lato");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.bluehead {
  position: absolute;
  right: 0;
  height: 95px;
  width: 40%;
  background-color: #00bdd4;
}

.headertext {
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  font-size: 35px;
  line-height: 42px;
  margin-top: 24px;
  left: 65px;
}

.yellowhead {
  position: relative;
  height: 95px;
  width: 100%;
  background-color: #daed49;
}

.bluetriangle {
  position: absolute;
  right: 40%;
  width: 0;
  height: 0;
  border-top: 95px solid #00bdd4;
  border-left: 95px solid transparent;
}

.emptyspacebellowbar {
  height: 120px;
  width: 100%;
}

.container {
  display: flex;
}

.containerlogo {
  flex: 1;
}

.containerepisodes {
  flex: 1;
}

#sectionlogo h1 {
  padding: 100px auto;
  font-weight: 400;
  font-size: 70px;
  line-height: 84px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.blue {
  color: #00bdd4;
  text-transform: capitalize;
}

.logo {
  flex: 1;
  width: 647px;
  height: 664px;
  /* margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 100px;
  margin-bottom: 100px; */
}

.charactername {
  color: #00bdd4;
  text-transform: capitalize;
  height: 84px;
  font-size: 70px;
}

.characterimage {
  flex: 1;
  width: 650px;
  height: 650px;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 100px;
  flex-shrink: 0;
}

#sectionlogo h1 b {
  font-weight: 600;
  font-size: 70px;
  line-height: 84px;
}

.characterdescription {
  /* display: inline-block; */
  flex: 10;
  margin-left: 50px;
  padding: 20px;
}

.episodescontainer {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.episodemainontainer {
  display: flex;
  margin-top: 25px;
}

.episodenumber {
  align-self: flex-start;
  flex: 1;
}

.verticallinecontainer {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.episodedescription {
  flex: 5;
}

.verticalline {
  width: 1px;
  background-color: #959595;
  height: 100%;
  margin: -15px;
  padding: 50px 0px;
}

.episodeid {
  flex: 1;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  margin-left: 50px;
}

.titlecolorblue {
  display: inline-block;
  color: #00bdd4;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.titlecolor {
  display: inline-block;
  color: #bdd800;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.emisiondate {
  color: #959595;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  text-transform: capitalize;
  margin: 5px 0px;
}

.footer {
  /* position: static; */
  /* flex: 1; */
  background-color: #464646;
  text-align: center;
  line-height: 10vh;
  color: #cccccc;
  height: 10vh;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
}
